@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    /* access a variable -var(variable); */
    
    
    /* Screens */
    --tablet:768px;
    --desktop:1024px;


    /* Colors */
    --color-h1: white;
    --color-h2: rgb(0, 0, 0);
    --color-h2-subheading: black;
    --color-h3-subheadings: #fdc318; 
    /* //also for projects */

    --color-h3-content: black;
    --color-h5: white;
    --color-h1: white;


    --para: rgb(117, 114, 114);
    --para-tint:rgb(131, 128, 128);
    --helper: #fdc318;
    --helper-tint:#f8e19d;

    /* buttons */
    --gradient:orange;
    /* --shadow: */


    


    /* ICONS */
    --color-icons:  #fdc318;
/*  */

    --color-body-text: black;
/*     
    --color-body-text: white;
    --color-primary: blue;

     */
    /* font family */
    
    --font-family-primary:'Poppins', sans-serif ;
    --font-family-secondary: 'Poppins', sans-serif;
    
    
    /* Letter spacing
    
    --letter-spacing-h1:28px;
    --letter-spacing-h2:28px;
    --letter-spacing-body:18px;
     */
    
    
    /* Line Height
    --line-height-h1:28px;
    --line-height-h2:28px;
    --line-height-body:18px;
     */
    }

    /* ------------------- GLOBAL SETTING------------------------ */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif ;
    }

    html{
         font-size: 62.5%;
         /* 1 rem = 10 px */
    }
    h1,h2,h3,h4,h5{
        font-family:'Poppins', sans-serif;

    }
    .h1_heading{
        font-size: 7rem;
        font-family: --var(--font-family-primary);
        color: var(--color-h1);
        font-weight: 600;

    }
    .h3_heading{
        font-size: 4rem;
        font-family: --var(--font-family-primary);
        color:var(--color-h3-subheadings);
    
        font-weight: bolder;
        
    }
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    p{
        color: var(--para);
        line-height: 1.7;
        font-size: 1.5rem;
        text-align: justify;

        font-family: sans-serif;
        font-weight: normal;
    }
/* ------------------- GLOBAL SETTING------------------------ */

.navbar-collapse{
        display: flex;
        justify-content:flex-end;
    
    }

    .navbar-collapse li :hover{

        transition: all 0.4 ease-in-out;
        transform: scale(1.1);
    }

    .navbar-collapse li a :hover{

        transition: all 1s ease-in-out;
        transform: scale(1.1);
    }
    .nav-link {
        color: var(--color-h3-subheadings);


    }
    
    .navbar{

        padding-top: 20px;
        
    }
.nav-item{
    margin-right: 20px;
    
}

.nav-item a{
    font-size: 16px;
    font-family: --var(--font-family-primary);
    font-weight: 600;
    /* font-family: sans-serif; */
  
}
.nav-link{
    color: white;
}
   
.brandNmae{
    font-size: 30px;
    margin-left: 70px;
    font-weight: bold;
    font-family: --var(--font-family-primary);
}
.brandNmae:hover{

    /* ease in and out means stard and end with ease (slow) */

    transition: all 2s ease-in-out;
    transform: scale(0.9) rotate(360deg);

}


.brandNmae a{
color: var(--color-h3-subheadings);
text-decoration: none;


}
.navbar-toggler{

    background-color: white;
}


 /* ------------------------------HERO SECTION --------------------------- */


.hero{
    /* background-image: url('/build/images/6png.png'),linear-gradient(#eb01a5, #d13531); */

    background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.76), rgba(13, 31, 49, 0.75)), url('/build/images/banner_1.png');
    background-size: cover;
    background-position: inherit;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.jumbotron{
 
    display: flex;
    width: 70%;
    margin: auto;
    position: relative;
    top: 15%;
    background-color: transparent;
}
.bannerHaeadings{
    animation: fadeText 6s;
    
}
@keyframes fadeText {

    0%{
        opacity: 0;
    
    }
    100%{
        opacity: 1;
    }
    
}

.socialMediaIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30%;
    margin: auto; 
       
}

.socialMediaIcons :hover{
    transition: all 0.5s ease-in-out;

    /* transform: rotate(180deg); */
    animation-name: rotate_and_zoom;
    animation-duration: 1s;

}
@keyframes rotate_and_zoom {
    100% {
        transform: rotate(180deg) scale(1.1);

    }
}




.socialMediaIcons{
    margin-top: 40px;
    padding: 0;
}
.socialMediaIcons i{
  
        padding: 0;
}


.bounce{
    margin-top: 110px;
}
.bounce{
    /* FOR ANIMATION */
    animation-name: bounce_button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-delay: 3s;
    animation-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    /* animation: bounce_button 1.2s infinite;
     All three: animation-name, duration , count  */

     transform: translateY(20px);

}

@keyframes bounce_button {
    0%{
        margin-top: 70px;
        
    }
    55%{
        margin-top: 100px;
    }
    75%
    {
        margin-top: 80px;
      
    }
    100%{
        margin-top: 100px;
        
    }
}


/*------------------------ABOUT ME ----------------------- */
.about{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;

}

.row_about{
    margin-top: 40px;
}
.about h2{
    font-size: 5rem;
    color: var(--color-h2);
    font-weight: 900;
}
.about h3{
    font-size: 2.5rem;
    margin-top: -15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: lighter;
}
.aboutContent{
    margin-top: 45px;
}

.AboutPara{
    text-align: left;
    font-weight:500 ;
}

.mePic{
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;
    }
  }

.row-educarion-skills
{
    margin-top: 40px;
}
.head_education, .head_experience
{
    margin-bottom: 25px;
    font-family: vae(--font-family-primary);
    font-size: 3rem;
    font-weight: 800;
}
    

.left_education{
    width: 50%;
}
.right_skills{
    width: 50%;
}


.years{
    float: right;
}
.skill-bar-percentage{
    float: right;
}
ul{
    padding: 0;
}
li{
    position: relative;
}
.ul_Education li {
    margin-bottom: 15px;
}
.education{
    margin-bottom: 10px;
    font-size: 1.7rem;
   
   
}
.schools, .years{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}
.years{
    margin-right: 60px;
}

.ul_Education{
    border-left: 2px solid black;
    padding-left: 10px;
}

.skillTitle, .skill-bar-percentage
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 18px;
   
}
.classFix{
    margin-bottom: 21px;
}
.skill-bar{
    background-color: black;
    width:100%;
    height: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;


}
#skillPercent-1{
    width: 85%;
}
#skillPercent-2{
    width: 75%;
}
#skillPercent-3{
    width: 45%;
}
#skillPercent-4{
    width: 70%;
}
.skillbar-bar
{
    background-color: var(--color-h3-subheadings);
    height: 10px;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

/* ----------------------------FUN FACTS CSS------------------------ */
.funfacts{
    height: 20rem;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.keyboard, .freelancer{
    display: flex;
    flex-direction: column;
}

.fa-keyboard-o, .fa-briefcase{
    font-size: 60px;
    color: var(--color-h3-subheadings);
}
.project h3{
    
    font-size: 50px;
    color: var(--color-h3-subheadings);

}
.award h3{
       
    font-size: 50px;
    color: var(--color-h3-subheadings);
    font-weight: bold;

}
.facts_description{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--para);
}

/* ------------------------SERVICES CSS ------------------------- */
.row_about{
    margin-top: 40px;
}
.about h2{
    font-size: 5rem;
    color: var(--color-h2);
    font-weight: bolder;
}
.about h3{
    font-size: 2.5rem;
    margin-top: -15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: lighter;
}


.fa-serivice{
    color:var(--color-icons);
}
.fa-php{
    font-size: 5rem;
}
.fa-laptop{
    font-size: 6rem;

}
.fa-desktop{
    font-size: 5rem;
}

.icon_service{
    margin-bottom: 20px;
}

.service h3{
    margin-bottom: 20px;
    font-size: 2rem;

}
.services_row_1{

    margin-top: 70px;
    
}

.service{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
}
.service_2{
    margin-top: -11px;
}
.service_container{
    margin-bottom: 12rem;
}


/* ---------------------------------WORK BANNER----------------------------- */

.work_banner_background{
    background-image: url('/build/images/work_banner.jpg');
    height: 30rem;
    background-size: cover;
    background-attachment: fixed;

}

.work_content h4 ,h1{
    color: var(--color-h1);
    word-wrap: break-word;
}
.work_banner_background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bannerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.work_content h4{

    font-size: 2.2rem;
}

.work_content h1{

    font-size: 4.6rem;
    margin-top: 20px;
    margin-bottom:20px;
}
.btn-work{
    width: 16rem;
    height: 5rem;
    border-radius: 100px;
    font-size: 2rem;
    color: white;
    background-color: var(--color-icons);
}


/* -----------------------------WORK SECTION ----------------------------------- */


.row_head_project{
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30PX;
}
.project_tagline h2{
    font-size: 5rem;
    color: var(--color-h2);
    font-weight: 900;
}
.project_tagline h3{
    font-size: 2.5rem;
    margin-top: -5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: lighter;
}

.project_img img{
    width: 350px;
    height: 320px;
}

.section_work{
    margin-bottom: 70px;
}

/* ------------------PRICING PLAN CSS-------------------- */

.sec_price{

    background-color: rgb(238, 229, 229);
    padding-top: 30px;
}

.row_head_price{
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}
.price_tagline h2{
    font-size: 5rem;
    color: var(--color-h2);
    font-weight: 900;
}
.price_tagline h3{
    font-size: 2.5rem;
    margin-top: -5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: lighter;
}

.plan_main_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 29rem;
}

.plan_top{
    height: 5rem;
    width: 100%;
    background-color: var(--color-icons);
}
.plan_top{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.plan_top h2{
    color: white;

}
.price{
    width: 100%;
    height: 17rem;
    background-color: rgb(214, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
}
.price h1 {
    font-size: 6rem;
    color: black;
}
.info{
    /* padding-top: 30px; */
    width: 100%;
    height: 34rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}
.cont_pricing{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
flex-wrap: wrap;
    align-items: center;
    
}

.btn-price{
    width: 16rem;
    height: 4rem;
    border-radius: 100px;
    font-size: 2rem;
    color: white;
    background-color: var(--color-icons);
}
.row_Price_divs{
    margin-bottom: 100px;
}

.info{


    /* BOX SHADOW : x axis, y axis, blur, spread, color  */

    

}

/* -----------------------------CONTACT ---------------------------------- */
.row_head_contact{
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30PX;
}
.Contact_tagline h2{
    font-size: 5rem;
    color: var(--color-h2);
    font-weight: 900;
}
.Contact_tagline h3{
    font-size: 2.5rem;
    margin-top: -5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: lighter;
}
