:root{
    /* access a variable -var(variable); */
    
    
    /* Screens */
    --tablet:768px;
    --desktop:1024px;


    /* Colors */
    --color-h1: white;
    --color-h2: rgb(0, 0, 0);
    --color-h2-subheading: black;
    --color-h3-subheadings: #fdc318; 
    /* //also for projects */

    --color-h3-content: black;
    --color-h5: white;
    --color-h1: white;


    --para: rgb(85, 83, 83);
    --para-tint:rgb(131, 128, 128);
    --helper: #fdc318;
    --helper-tint:#f8e19d;

    /* buttons */
    --gradient:orange;
    /* --shadow: */


    


    /* ICONS */
    --color-icons:  #fdc318;
/*  */

    --color-body-text: black;
/*     
    --color-body-text: white;
    --color-primary: blue;

     */
    /* font family */
    
    --font-family-primary:'Poppins', sans-serif ;
    --font-family-secondary: 'Poppins', sans-serif;
    
    
    /* Letter spacing
    
    --letter-spacing-h1:28px;
    --letter-spacing-h2:28px;
    --letter-spacing-body:18px;
     */
    
    
    /* Line Height
    --line-height-h1:28px;
    --line-height-h2:28px;
    --line-height-body:18px;
     */
    }

    /* ------------------- GLOBAL SETTING------------------------ */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif ;
    }

    html{
         font-size: 62.5%;
         /* 1 rem = 10 px */
    }
    h1,h2,h3,h4,h5{
        font-family:'Poppins', sans-serif;

    }
    .h1_heading{
        font-size: 7rem;
        font-family: --var(--font-family-primary);
        color: var(--color-h1);
        font-weight: 600;

    }
    .h3_heading{
        font-size: 4rem;
        font-family: --var(--font-family-primary);
        color:var(--color-h3-subheadings);
    
        font-weight: bolder;
        
    }
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    p{
        color: var(--para);
        line-height: 1.7;
        font-size: 1.6rem;
        text-align: justify;
    }
/* ------------------- GLOBAL SETTING------------------------ */

.navbar-collapse{
        display: flex;
        justify-content:flex-end;
    
    }
    .navbar{
    
        padding-top: 20px;
        
    }
.nav-item{
    margin-right: 20px;
    
}

.nav-item a{
    font-size: 16px;
    font-family: --var(--font-family-primary);
    font-weight: 600;
    /* font-family: sans-serif; */
  
}
.nav-link{
    color: white;
}
   
.brandNmae{
    font-size: 30px;
    margin-left: 70px;
    font-weight: bold;
    font-family: --var(--font-family-primary);
}
.brandNmae:hover{

    /* ease in and out means stard and end with ease (slow) */

    transition: all 2s ease-in-out;
    transform: scale(0.9) rotate(360deg);

}


.brandNmae a{
color: var(--color-h3-subheadings);
text-decoration: none;


}
.navbar-toggler{

    background-color: white;
}


 /* ------------------------------HERO SECTION --------------------------- */


.hero{
    /* background-image: url('/build/images/6png.png'),linear-gradient(#eb01a5, #d13531); */

    background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.76), rgba(13, 31, 49, 0.75)), url('/build/images/banner_1.png');
    background-size: cover;
    background-position: inherit;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.jumbotron{
 
    display: flex;
    width: 70%;
    margin: auto;
    position: relative;
    top: 15%;
    background-color: transparent;
}

.socialMediaIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30%;
    margin: auto; 
       
}

.socialMediaIcons :hover{
    transition: all 0.5s ease-in-out;

    /* transform: rotate(180deg); */
    animation-name: rotate_and_zoom;
    animation-duration: 1s;

}
@keyframes rotate_and_zoom {
    100% {
        transform: rotate(180deg) scale(1.1);

    }
}




.socialMediaIcons{
    margin-top: 40px;
    padding: 0;
}
.socialMediaIcons i{
  
        padding: 0;
}


.bounce{
    margin-top: 110px;
}
.bounce{
    /* FOR ANIMATION */
    animation-name: bounce_button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-delay: 3s;
    animation-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    /* animation: bounce_button 1.2s infinite;
     All three: animation-name, duration , count  */

     transform: translateY(20px);

}

@keyframes bounce_button {
    0%{
        margin-top: 70px;
        
    }
    55%{
        margin-top: 100px;
    }
    75%
    {
        margin-top: 80px;
      
    }
    100%{
        margin-top: 100px;
        
    }
}


/*------------------------ABOUT ME ----------------------- */
.about{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;

}
.row_about{
    margin-top: 40px;
}
.about h2{
    font-size: 5rem;
    color: var(--color-h2);
    font-weight: 900;
}
.about h3{
    font-size: 2rem;
    font-weight: 500;
}

.AboutPara{
    padding-top: 30px;
    text-align: justify;
}
    

